@model LoginViewModel
@using Localize = GlobusRemote.Localize.Index

@*@{
    ViewData["Title"] = @Localize.AccountPage_Login_Title;
    Layout = null;
}*@

@Html.AntiForgeryToken()
<h6>@Localize.DialogLogin_Text</h6>
<hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-floating">
    <label asp-for="Login" class="form-label"></label>
    <input asp-for="Login" class="form-control" autocomplete="on" aria-required="true" />
    <span asp-validation-for="Login" class="text-danger"></span>
</div>
<div class="form-floating">
    <label asp-for="Password" class="form-label"></label>
    <input type="password" asp-for="Password" class="form-control" autocomplete="on" aria-required="true" />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
@*<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" autocomplete="off" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" placeholder="Enter your Email Address" autocomplete="off" class="form-control" />
    <span asp-validation-for="Email"></span>
</div>*@


<!--<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">@Localize.AccountPage_Login_Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form id="account" action="/Account/Login" method="post">
        <div class="modal-body">
            <h2>Use a local account to log in.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Login" class="form-label"></label>
                <input asp-for="Login" class="form-control" autocomplete="on" aria-required="true" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" asp-for="Password" class="form-control" autocomplete="on" aria-required="true" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>-->
            @*<div>
                    <div class="checkbox">
                        <label asp-for="RememberMe" class="form-label">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>*@
            @*<br>
                <div class="form-floating">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>*@

            @*<form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>*@
        <!--</div>
    </form>
</div>-->