@using Localize = GlobusRemote.Localize.Index

<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        @*<div class="sidebar-brand">
            <span class="user-name">Панель управления</span>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>*@
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="~/img/user-default.jpg"
                     alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">
                    @User.Identity.Name
                    @*<strong>Пользователь</strong>*@
                </span>
                <span class="user-role">Неопознанный</span>
                <span class="user-control">
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                    <span class="user-logout">
                        <a href="/Account/Logout">
                            <i class="fa fa-sign-out-alt"></i>
                            <span>@Localize.Header_Logout</span>
                        </a>
                    </span>
                </span>
            </div>
            <div class="header-control">
                <div id="close-sidebar" class="control-sidebar">
                    <i class="fas fa-times"></i>
                </div>
                <div id="collapse-sidebar" class="control-sidebar">
                    <i class="fas fa-chevron-left"></i>
                </div>
            </div>
        </div>
        <!-- sidebar-header  -->
        @*<div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>@Localize.Header_General</span>
                </li>
                <li class="sidebar-dropdown area-admin">
                    <a href="#">
                        <i class="fa fa-user-secret"></i>
                        <span>@Localize.AdminPage_Title</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="/Admin/Operators/List">
                                    <span>@Localize.AdminPage_Operators_Title</span>
                                    @*<span class="badge badge-pill badge-warning">New</span>*@
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/OperatorsTemplates/List">
                                    <span>@Localize.AdminPage_OperatorsTemplates_Title</span>
                                    @*<span class="badge badge-pill badge-warning">New</span>*@
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header-menu">
                    <span>@Localize.Header_Mobile</span>
                </li>
                <li class="sidebar-dropdown area-mobile">
                    <a href="#">
                        <i class="fa fa-mobile"></i>
                        <span>@Localize.MobilePage_Title</span>
                    </a>
                    <div class="sidebar-submenu area-mobile">
                        <ul>
                            <li>
                                <a href="/Mobile/Users/List">
                                    <span>@Localize.MobilePage_Users_Title</span>
                                    @*<span class="badge badge-pill badge-warning">New</span>*@
                                </a>
                            </li>
                            <li>
                                <a href="/Mobile/UsersContacts/List">
                                    <span>@Localize.MobilePage_UsersContacts_Title</span>
                                    @*<span class="badge badge-pill badge-warning">New</span>*@
                                </a>
                            </li>
                            <li>
                                <a href="/Mobile/UsersMissions/List">
                                    <span>@Localize.MobilePage_UsersMissions_Title</span>
                                    @*<span class="badge badge-pill badge-warning">New</span>*@
                                </a>
                            </li>
                            <li>
                                <a href="/Mobile/UsersMessages/List">
                                    <span>@Localize.MobilePage_UsersMessages_Title</span>
                                    @*<span class="badge badge-pill badge-warning">New</span>*@
                                </a>
                            </li>
                            <li>
                                <a href="/Mobile/UsersTemplates/List">
                                    <span>@Localize.MobilePage_UsersTemplates_Title</span>
                                    @*<span class="badge badge-pill badge-warning">New</span>*@
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown area-mobilescenarios">
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>@Localize.MobileScenariosPage_Title</span>
                    </a>
                    <div class="sidebar-submenu area-mobilescenarios">
                        <ul>
                            <li>
                                <a href="/MobileScenarios/Scenarios/List">
                                    <span>@Localize.MobileScenariosPage_Scenarios_Title</span>
                                </a>
                            </li>
                            <li>
                                <a href="/MobileScenarios/ScenariosActions/List">
                                    <span>@Localize.MobileScenariosPage_ScenariosActions_Title</span>
                                </a>
                            </li>
                            <li>
                                <a href="/MobileScenarios/ScenariosGroups/List">
                                    <span>@Localize.MobileScenariosPage_ScenariosGroups_Title</span>
                                    @*<span class="badge badge-pill badge-warning">New</span>*@
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown area-mobilebooks">
                    <a href="#">
                        <i class="fa fa-book"></i>
                        <span>@Localize.MobileBooksPage_Title</span>
                    </a>
                    <div class="sidebar-submenu area-mobilebooks">
                        <ul>
                            <li>
                                <a href="/MobileBooks/Contacts/List">
                                    <span>@Localize.MobileBooksPage_Contacts_Title</span>
                                    @*<span class="badge badge-pill badge-warning">New</span>*@
                                </a>
                            </li>
                            <li>
                                <a href="/MobileBooks/Files/List">
                                    <span>@Localize.MobileBooksPage_Files_Title</span>
                                    @*<span class="badge badge-pill badge-warning">New</span>*@
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                @*<li class="pro-menu-item">
            <div class="pro-inner-item" tabindex="0" role="button">
                <span class="pro-icon-wrapper">
                <span class="pro-icon">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 576 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm0 64c14.71 0 26.58 10.13 30.32 23.65-1.11 2.26-2.64 4.23-3.45 6.67l-9.22 27.67c-5.13 3.49-10.97 6.01-17.64 6.01-17.67 0-32-14.33-32-32S270.33 96 288 96zM96 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm48-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm246.77-72.41l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36zm14.66 57.2l15.52-46.55c3.47-1.29 7.13-2.23 11.05-2.23 17.67 0 32 14.33 32 32s-14.33 32-32 32c-11.38-.01-20.89-6.28-26.57-15.22zM480 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path>
                    </svg>
                </span>
                </span>
                <span class="pro-item-content">Dashboard</span>
                <span class="suffix-wrapper">
                <span class="badge red">NEW</span></span>
            </div>
        </li>*@

                @*<li class="sidebar-dropdown">
            <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>E-commerce</span>
                <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">
                            Products

                        </a>
                    </li>
                    <li>
                        <a href="#">Orders</a>
                    </li>
                    <li>
                        <a href="#">Credit cart</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-dropdown">
            <a href="#">
                <i class="far fa-gem"></i>
                <span>Components</span>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">General</a>
                    </li>
                    <li>
                        <a href="#">Panels</a>
                    </li>
                    <li>
                        <a href="#">Tables</a>
                    </li>
                    <li>
                        <a href="#">Icons</a>
                    </li>
                    <li>
                        <a href="#">Forms</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-dropdown">
            <a href="#">
                <i class="fa fa-chart-line"></i>
                <span>Charts</span>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">Pie chart</a>
                    </li>
                    <li>
                        <a href="#">Line chart</a>
                    </li>
                    <li>
                        <a href="#">Bar chart</a>
                    </li>
                    <li>
                        <a href="#">Histogram</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-dropdown">
            <a href="#">
                <i class="fa fa-globe"></i>
                <span>Maps</span>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">Google maps</a>
                    </li>
                    <li>
                        <a href="#">Open street map</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="header-menu">
            <span>Extra</span>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-book"></i>
                <span>Documentation</span>
                <span class="badge badge-pill badge-primary">Beta</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar"></i>
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Examples</span>
            </a>
        </li>*@
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    @*<div class="sidebar-footer">
        <a href="#">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
        </a>
        <a href="#">
            <i class="fa fa-power-off"></i>
        </a>
    </div>*@
</nav>
<!-- sidebar-wrapper  -->