@model IndexViewModel
@using Localize = GlobusRemote.Localize.Index

@{
    ViewData["Title"] = Localize.HomePage_Title;

    var tagSuccessed = " hidden";
    var tagFailed = " hidden";
    if (Model != null && Model.AuthSuccessed != null)
    {
        if ((bool)Model.AuthSuccessed)
        {
            tagSuccessed = "";
        }
        else
        {
            tagFailed = "";
        }
    }
}

@section Links {
    <link href="~/css/dropzone.min.css" rel="stylesheet" />
}

<form asp-action="Login" asp-controller="Account" method="POST" complete="OnComplete">
    <div id="loginDialog" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Localize.AccountPage_Login_Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="loginFormContent" class="modal-body">
                    <partial name="~/Views/Shared/_LoginPartial.cshtml" model="Model.LoginViewModel" />
                </div>
                <div class="modal-footer">
                    <input id="btnSubmit" type="submit" value="@Localize.DialogLogin_Submit_Title" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localize.DialogBase_Submit_Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="text-center">
    <h1 class="display-4">@Localize.HomePage_Body_Title</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            @Localize.HomePage_Body_Auth_Text1
            <a class="loginDialog" href="#" data-toggle="modal" data-target="#loginDialog">@Localize.HomePage_Body_Auth_Text2</a>
            @Localize.HomePage_Body_Auth_Text3
        </p>
    }
    <div class="alert alert-success @tagSuccessed">@Localize.ActionLogin_Alert_Successed</div>
    <div class="alert alert-danger @tagFailed">@Localize.ActionLogin_Alert_Failed</div>
</div>