@model IndexViewModel
@using Localize = GlobusRemote.Localize.Index

@{
    ViewData["Title"] = Localize.HomePage_Title;

    var tagSuccessed = " hidden";
    var tagFailed = " hidden";
    if (Model != null && Model.AuthSuccessed != null)
    {
        if ((bool) Model.AuthSuccessed)
        {
            tagSuccessed = "";
        }
        else
        {
            tagFailed = "";
        }
    }
}

@*<div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>*@

<form asp-action="Login" asp-controller="Account" method="POST" complete="OnComplete">
    @*<form asp-action="Login" asp-controller="Account" data-ajax-method="POST" data-ajax="true" data-ajax-update="loginForm" data-ajax-complete="OnComplete">*@
    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Localize.AccountPage_Login_Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" @*id="loginForm"*@>
                    <partial name="~/Views/Shared/_Login.cshtml" model="Model.LoginViewModel" />
                </div>
                <div class="modal-footer">
                    <input id="btnSubmit" type="submit" value="@Localize.DialogLogin_Submit_Title" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localize.DialogBase_Submit_Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="text-center">
    <h1 class="display-4">@Localize.HomePage_Body_Title</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            @Localize.HomePage_Body_Auth_Text1
            <a href="#" data-toggle="modal" data-target="#loginModal">@Localize.HomePage_Body_Auth_Text2</a>
            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">@Localize.HomePage_Body_Auth_Text2</button>*@
            @Localize.HomePage_Body_Auth_Text3
        </p>

        @*<input type="submit" src="Edit?id=@Model.Id" class="btn btn-outline-info showdialog mr-2" data-toggle="modal" data-target="#exampleModalCenter" title="@Localize.DataControl_Submit_Edit_Hint" value="@Localize.DataControl_Submit_Edit_Title">*@
    }
    <div class="alert alert-success @tagSuccessed">@Localize.ActionLogin_Alert_Successed</div>
    <div class="alert alert-danger @tagFailed">@Localize.ActionLogin_Alert_Failed</div>
</div>

@section Scripts{
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @*<script type="text/javascript">

            $("#btnSubmit").click(function () {
                $.ajax({
                    url: 'Home/AddCustomer',
                    data: {},
                    type: 'POST',
                    dataType: 'html',
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $("#dvPartial").html(response);
                        $("#MyPopup").modal("show");
                    }
                });
            });

            function OnComplete() {
                $("#loginModal").modal("hide");
            }
        </script>*@



    @*<script type="text/javascript">
            function OnComplete() {
                $("#loginModal").modal("hide");
            }
        </script>*@
}
